<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body style="margin: 0;background-image: url('../../Images/Msg.jpg'); background-repeat: inherit;">
<div id="Top" style="width: 100%; height: 200px;">
    <img src="./Images/巴德士.jpg" style="width:100%;height:100%" />
</div>
<div id="Mid" style="width: 100%; height: 120px">
    <img src="./Images/Mid_Erro.jpg" style="width:100%;height:100%" />
</div>
</body>
</html>
